<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h2>Express       </h2>
        </div>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
        </form>
        
        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0 ms-lg-auto">
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Premium</a></li>
          <li><a href="#" class="nav-link px-2 text-white">+ New Blog</a></li>
        </ul>
  
        <div class="header-button">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
  
  
  