<header class="p-3 text-bg-dark">
    <div class="max-width">
        <div class="container align-items-center">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <h3 class="header-logo">Express</h3>
                </div>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-light px-2 py-1"
                        placeholder="Search..." aria-label="Search" />
                </form>

                <ul class="nav-menu nav col-12 col-lg-auto mb-2 mb-md-0 ms-lg-auto">
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Premium</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">+ New Blog</a></li>
                </ul>

                <div class="dropdown text-end mx-2">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="hashtags-section">
    <div class="max-width">
        <div class="row">
            <div class="col-md-12">
                <mat-icon>add</mat-icon>

                <mat-button-toggle-group name="hashtags" multiple>
                    <mat-button-toggle value="health&wellness">Health & Wellness</mat-button-toggle>
                    <mat-button-toggle value="technology">Technology</mat-button-toggle>
                    <mat-button-toggle value="music">Music</mat-button-toggle>
                    <mat-button-toggle value="movie&cinema">Movie & Cinema</mat-button-toggle>
                    <mat-button-toggle value="fitness">Fitness</mat-button-toggle>
                    <mat-button-toggle value="feminism">Feminism</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            
        </div>
        
    </div>
</section>